*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/.idea/dbnavigator.xml
/captures
.externalNativeBuild
.cxx
local.properties
/app/release
/app/debug
/.idea/.name
/.idea/gradle.xml
/.idea/compiler.xml
/.idea/kotlinc.xml
/.idea/vcs.xml
